<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Messages</h1>
    <ul>
      <% messages.map((message) => {%>
      <li>
        <%= message.user %>
        <ul>
          <li><%= message.text %></li>
          <li><%= message.added %></li>
        </ul>
      </li>
      <%}) %>
    </ul>
    <a href="/new"><button>Add your message</button></a>
  </body>
</html>
